<footer class="footer">
    <div class="footer__pixel-groove"></div>
    <div data-flex-layout="row top-stretch" class="footer__outer-flex-row">
        <div data-flex-self="size-x2">
            <div data-flex-layout="row top-left">
                <div class="footer__sponsor-logos">
                	<img src="/assets/no_auth/uzh_logo_d_pos.png" style="height: 50px; margin-top: 24px; margin-right: 0px;">
                </div>
                <div data-flex-layout="columns justify-left" class="footer__sponsor-text">
                    <p class="text-muted">
                      <span class="style--secondary-font">A project of <a class="text-muted" target="_blank" href="https://www.uzh.ch/en.html">University of Zurich</a></span>
                    </p>
                    <p class="text-muted">
                        <span class="style--secondary-font">Services provided by <a class="text-muted" target="_blank" href="http://swissartresearch.net/">Swiss Art Research Infrastructure (SARI)</a>
                    </p>
                    <p class="text-muted">
                        <span class="style--secondary-font">Platform powered by <a class="text-muted" target="_blank" href="http://researchspace.org/">ResearchSpace</a> and <a class="text-muted" target="_blank" href="http://metaphacts.com/">Metaphacts</a></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="footer__links-col">
            <p class="text-muted"><a class="text-muted" href="/resource/Default:About">About</a></p>
            <p class="text-muted"><a class="text-muted" href="/resource/Default:Roadmap">Roadmap</a></p>
            <p class="text-muted"><a class="text-muted" href="/resource/Default:Technology">Modeling and Technology</a></p>
        </div>

        <div class="footer__links-col">
            <p class="text-muted"><a class="text-muted" href="/resource/Default:Partners">Partners and Institutions</a></p>
            <p class="text-muted"><a class="text-muted" href="/resource/Default:Acknowledgements">Acknowledgements</a></p>
            <p class="text-muted"><a class="text-muted" href="https://swissartresearch.net/contact/" target="blank">Contact Us</a></p>
        </div>
    </div>
</footer>

