<div>
        <semantic-form 
          subject='[[this]]'
          post-action='reload'
          persistence='sparql'            
         fields='[[fieldDefinitions
https://resource.swissartresearch.net/fieldDefinition/Project_Name="https://resource.swissartresearch.net/fieldDefinition/Project_Name"
https://resource.swissartresearch.net/fieldDefinition/Note="https://resource.swissartresearch.net/fieldDefinition/Note"
]]'
>

<semantic-form-text-input for="https://resource.swissartresearch.net/fieldDefinition/Project_Name" languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
</semantic-form-text-input>

     
          <!-- save and reset button for form -->
          <button name='submit' class='btn btn-default'>Save</button>
          <button name='reset' class='btn btn-default'>Reset</button>
        </semantic-form>
  </div>