<div class="page">
  <div data-flex-layout='row top-stretch'>
     
          <div data-flex-self='size-xsmall' class="text-center">
            <br>
            <font size="+2">
            	Add a new <b>Bibliographic Item</b>
            </font>
            <br>
            <img src="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/16/519609-108_Bookmark-512.png" width="50%">
         </div>
        <div>
[[#if (hasPermission "forms:ldp:*")]]         
    <semantic-form 
      new-subject-template='https://resource.swissartresearch.net/bibliographic_item/{{UUID}}'
      browser-persistence=true
      persistence='ldp' 
      form-id='bibliographic_item'         
      fields='[[fieldDefinitions
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Bibliographic_Item="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Bibliographic_Item"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Value"
        http://www.metaphacts.com/fieldDefinition/Identifier_Provider="http://www.metaphacts.com/fieldDefinition/Identifier_Provider"
        https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Source="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Source"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Type"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Type"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Title="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Title"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Title_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Title_Value"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bilbiographic_Item_Title_Part="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bilbiographic_Item_Title_Part"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Language="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Language"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Part_Of="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Part_Of"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Place="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Place"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Date_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Date_Earliest"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Date_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Date_Latest"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publisher="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publisher"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Author="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Author"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Role="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Role"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Number_of_Pages="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Number_of_Pages"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Temporal_Reference="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Temporal_Reference"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Physical_Geographic_Reference="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Physical_Geographic_Reference"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Subject_Reference="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Subject_Reference"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_ID="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_ID"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Identifier="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Identifier"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Owner="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Owner"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Shelf="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Shelf"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Institution="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Institution"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Institutional_Address="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Institutional_Address"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_coordinates="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_coordinates"
      ]]'
    >

      <semantic-form-composite-input 
        for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Bibliographic_Item"
        new-subject-template=""
        fields='[[fieldDefinitions
          https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Source="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Source"
          https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Type"
          http://www.metaphacts.com/fieldDefinition/Identifier_Provider="http://www.metaphacts.com/fieldDefinition/Identifier_Provider"
          https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Value"
          
        ]]'>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Value">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Source">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Type">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="http://www.metaphacts.com/fieldDefinition/Identifier_Provider">
        </semantic-form-text-input>
      </semantic-form-composite-input>
      
      <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Type">
     </semantic-form-text-input>
      
      <semantic-form-composite-input 
        for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Title"
        new-subject-template=""
        fields='[[fieldDefinitions
          https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Title_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Title_Value"
          https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Title_Part="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Title_Part"
          https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bilbiographic_Item_Title_Part="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bilbiographic_Item_Title_Part"
          https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Language="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Language"
        ]]'>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Title_Value"
					languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
        </semantic-form-text-input>
        
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bilbiographic_Item_Title_Part"
					languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
        </semantic-form-text-input>
        
      </semantic-form-composite-input>
      
      <semantic-form-select-input 
				for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Language">
      </semantic-form-select-input>
      
		  <semantic-form-autocomplete-input  
				for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Part_Of">
      </semantic-form-autocomplete-input>
      
     <semantic-form-composite-input 
        for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication"
        new-subject-template=""
        fields='[[fieldDefinitions
         https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Place="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Place"
         https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Date_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Date_Earliest"
         https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Date_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Date_Latest"
         https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publisher="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publisher"
         https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Author="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Author"
         https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Role="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Role"
        ]]'>
        <semantic-form-autocomplete-input  
				for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Place">
      </semantic-form-autocomplete-input>
        
       <semantic-form-datetime-input 
        	for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Date_Earliest">
      </semantic-form-datetime-input>
       
       <semantic-form-datetime-input 
        	for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publication_Date_Latest">
      </semantic-form-datetime-input>
      
       <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Publisher">
        </semantic-form-text-input>
       <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Author">
        </semantic-form-text-input>
       <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Role">
        </semantic-form-text-input>
       
      </semantic-form-composite-input>
      
      <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Number_of_Pages">
        </semantic-form-text-input>
      
      <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Temporal_Reference">
        </semantic-form-text-input>
      
      <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Physical_Geographic_Reference">
        </semantic-form-text-input>
      
      <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Subject_Reference">
        </semantic-form-text-input>
      
      <semantic-form-composite-input 
        for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_ID"
        new-subject-template=""
        fields='[[fieldDefinitions
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Identifier="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Identifier"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Owner="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Owner"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Shelf="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Shelf"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Institution="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Institution"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Institutional_Address="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Institutional_Address"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_coordinates="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_coordinates"
        ]]'>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Identifier">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Owner">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Shelf">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Institution">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_Institutional_Address">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Bibliographic_Item_Present_Item_Location_-_coordinates">
        </semantic-form-text-input>
      </semantic-form-composite-input>

      
      <button name='submit' class='btn btn-default'>Save</button>
      <button name='reset' class='btn btn-default'>Reset</button>
   	</semantic-form>
	[[/if]]
    </div>
</div>