[[#>Default:StaticPageFrame headerIcon="fa fa-quote-right" title="Acknowledgement"]]

<h2>Funding</h2>
The Swiss Art Research Infrastructure's AAT Translation Initiative is being generously funded by the <a href="https://www.uzh.ch/" target="_blank">University of Zurich</a>. 

<br />
<br />
<br />
<h2>Contributions</h2>
<p>The Swiss Art Research Infrastructure (SARI) Project would like to thank the following people for their work and their continous help, support and assistance:</p>
<br />
<h3>gta Digital Team</h3>
          <h4>Matteo Lorenzini, Knowledge Graph Engineer/Semantic Architect<br>
            <small>Frontend Development, Application Pages, Field Definitions</small></h4>
          <h4>Thomas Hänsli, Director gta Digital<br>
            <small>Concept, Project Management, and Quality Assurance</small></h4>

<br />
<br />
<h3>SmartUp Team</h3>
          <h4>Nikos Minadakis<br>
            <small>/small></h4>
          <h4>Nikos Minadakis<br>
            <small>/small></h4>

            					<h3>Swiss Art Research Infrastructure Team</h3>
<!--          <h4>Tristan Weddigen<br>
            <small>Principal Investigator</small></h4> -->
          <h4>Nicola Carboni<br>
            <small>Semantic Architect SARI / Semantic Modeling, and Quality Assurance (RDF Data)</small></h4>
          <h4>Thomas Hänsli<br>
            <small>Executive Director SARI / Concept, Project Management, and Quality Assurance</small></h4>

<br />
<br />



    


[[/Default:StaticPageFrame]]