[[#if (hasPermission "forms:ldp:*")]] 
<div class="page">
  <div data-flex-layout='row top-stretch'>
     
          <div data-flex-self='size-xsmall' class="text-center">
            <br>
            <font size="+2">
            	Add a new <b>Place</b>
            </font>
            <br>
            <img src="https://cdn4.iconfinder.com/data/icons/standard-free-icons/139/Checkin01-512.png" width="50%">
         </div>
        <div>     
  <semantic-form 
 			new-subject-template='https://resource.swissartresearch.net/place/{{UUID}}'
      browser-persistence=true
      persistence='ldp' 
      form-id='places'         
         fields='[[fieldDefinitions
http://www.researchspace.org/instances/fields/Place_Name="http://www.researchspace.org/instances/fields/Place_Name"
https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Name_Language="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Name_Language"
http://www.metaphacts.com/fieldDefinition/Name="http://www.metaphacts.com/fieldDefinition/Name"
http://www.metaphacts.com/fieldDefinition/Person_Alternate_Name="http://www.metaphacts.com/fieldDefinition/Person_Alternate_Name"
https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Alternate_Name_Value="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Alternate_Name_Value"
https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Alternate_Name_Type="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Alternate_Name_Type"
http://www.metaphacts.com/fieldDefinition/Occupation="http://www.metaphacts.com/fieldDefinition/Occupation"
http://www.metaphacts.com/fieldDefinition/Identifier_Provider="http://www.metaphacts.com/fieldDefinition/Identifier_Provider"
https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Source="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Source"
https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Name_Language="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Name_Language"
http://www.metaphacts.com/fieldDefinition/Identifier="http://www.metaphacts.com/fieldDefinition/Identifier"
http://www.researchspace.org/instances/fields/Paren_Place="http://www.researchspace.org/instances/fields/Paren_Place"
http://www.metaphacts.com/fieldDefinition/Place_Type="http://www.metaphacts.com/fieldDefinition/Place_Type"
http://www.researchspace.org/instances/fields/Has_Part="http://www.researchspace.org/instances/fields/Has_Part"
http://www.researchspace.org/instances/fields/Coordinates="http://www.researchspace.org/instances/fields/Coordinates"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Type"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_Qualifying_Description="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_Qualifying_Description"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_Start_Date="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_Start_Date"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_End_Date="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_End_Date"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternate_Title="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternate_Title"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Type"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Use_Period_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Use_Period_Earliest"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Use_Period_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Use_Period_Latest"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Part_of="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Part_of"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Has_Part="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Has_Part"
]]'
>

  <semantic-form-text-input 
    for="http://www.researchspace.org/instances/fields/Place_Name"
    languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
  </semantic-form-text-input>

 	<semantic-form-composite-input 
   	for="http://www.metaphacts.com/fieldDefinition/Identifier"
   	new-subject-template=""
   	fields='[[fieldDefinitions
https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Source="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Source"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Type"
http://www.metaphacts.com/fieldDefinition/Identifier_Provider="http://www.metaphacts.com/fieldDefinition/Identifier_Provider"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Value"
]]'>
	<semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Value">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Source">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Type">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="http://www.metaphacts.com/fieldDefinition/Identifier_Provider">
        </semantic-form-text-input>
</semantic-form-composite-input>   

    <semantic-form-composite-input 
                for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type"
                new-subject-template=""
                fields='[[fieldDefinitions   https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_Qualifying_Description="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_Qualifying_Description"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_Start_Date="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_Start_Date"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_End_Date="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_End_Date"
                ]]'>
	<semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_Qualifying_Description"
          multiline="true"
          languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
  </semantic-form-text-input>
      <semantic-form-datetime-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_Start_Date">
     	</semantic-form-datetime-input>
      <semantic-form-datetime-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Type_Start_Date">
     	</semantic-form-datetime-input>
</semantic-form-composite-input>
    
    <semantic-form-composite-input 
                for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternate_Title"
                new-subject-template=""
                fields='[[fieldDefinitions    https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Type"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Use_Period_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Use_Period_Earliest"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Use_Period_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Use_Period_Latest"
                ]]'>
      <semantic-form-text-input 
              for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name"
              languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
      </semantic-form-text-input>
      <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Type">
  		</semantic-form-text-input>
      <semantic-form-datetime-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Use_Period_Earliest">
     	</semantic-form-datetime-input>
      <semantic-form-datetime-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Alternative_Name_Use_Period_Latest">
     	</semantic-form-datetime-input>
	</semantic-form-composite-input>

  <semantic-form-autocomplete-input 
     for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Part_of">
 	</semantic-form-autocomplete-input>
	
  <semantic-form-autocomplete-input 
     for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Place_Has_Part">
 	</semantic-form-autocomplete-input>
    
    
	<button name='submit' class='btn btn-default'>Save</button>
  <button name='reset' class='btn btn-default'>Reset</button>
</semantic-form>
  </div>
  </div>
</div>
[[/if]] 