  <div>
  
        <semantic-form 
          subject='[[this]]'
          post-action='reload'
          fields='[[fieldDefinitions]]'
					>
  
          <semantic-form-text-input for="https://resource.swissartresearch.net/fieldDefinition/Project_Name"></semantic-form-text-input>

          <!-- save and reset button for form -->
          <button name='submit' class='btn btn-default'>Save</button>
          <button name='reset' class='btn btn-default'>Reset</button>
        </semantic-form>
  </div>