<div class="page">
  <div data-flex-layout='row top-stretch'>
     
          <div data-flex-self='size-xsmall' class="text-center">
            <br>
            <font size="+2">
            	Add a new <b>Artwork</b>
            </font>
            <br>
            <img src="https://cdn2.iconfinder.com/data/icons/multimedia-26/24/multimedia-11-512.png" width="50%">
         </div>
        <div>
[[#if (hasPermission "forms:ldp:*")]]         
    <semantic-form 
      new-subject-template='https://resource.swissartresearch.net/artwork/{{UUID}}'
      browser-persistence=true
      persistence='ldp' 
      form-id='artworks'         
      fields='[[fieldDefinitions
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier"   https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Value"     https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Type" 
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Provider="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Provider"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Title="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Title"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Type"
      ]]'
    >

      <semantic-form-composite-input 
        for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier"
        new-subject-template=""
        fields='[[fieldDefinitions
          https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Value"  https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Type"
          https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Provider="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Provider"
        ]]'>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Value">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Type">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Provider">
        </semantic-form-text-input> 
      </semantic-form-composite-input>
      
      <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Title">
        </semantic-form-text-input> 
      
      <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Type">
        </semantic-form-text-input> 
      
      
      
      <button name='submit' class='btn btn-default'>Save</button>
      <button name='reset' class='btn btn-default'>Reset</button>
   	</semantic-form> 
	[[/if]]
</div>
  </div>