<div class="page">
  <div data-flex-layout='row top-stretch'>
     
          <div data-flex-self='size-xsmall' class="text-center">
            <br>
            <font size="+2">
            	Add a new <b>Artwork</b>
            </font>
            <br>
            <img src="https://cdn2.iconfinder.com/data/icons/multimedia-26/24/multimedia-11-512.png" width="50%">
         </div>
        <div>
[[#if (hasPermission "forms:ldp:*")]]         
    <semantic-form 
      new-subject-template='rds:{{UUID}}'
      browser-persistence=true
      persistence='ldp' 
      form-id='artworks'         
      fields='[[fieldDefinitions
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier"   https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Value"     https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Type" 
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Provider="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Provider"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Title="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Title"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Type"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Value"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Type"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Use_Period_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Use_Period_Earliest"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Use_Period_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Use_Period_Latest"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Used_By="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Used_By"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Style_-_Movement="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Style_-_Movement"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Value"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Type"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Author="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Author"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Parts="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Parts"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Parts_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Parts_Value"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Part_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Part_Type"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Location="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Location"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Date_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Date_Earliest"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Date_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Date_Latest"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Location="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Location"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Date_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Date_Earliest"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Date_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Date_Latest"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Creator="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Creator"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Creator_Role="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Creator_Role"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Current_Owner="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Current_Owner"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Current_Holder="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Current_Holder"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Material="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Material"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Technique="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Technique"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Type"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Value"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Unit="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Unit"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Subject="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Subject"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Period_Statement_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Period_Statement_Latest"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Period_Statement_Owner="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Period_Statement_Owner"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Description="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Description"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Earliest"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Latest"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Type"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Technique="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Technique"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservator="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservator"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Description="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Description"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Location="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Location"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_Institution="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_Institution"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_Institution_Address="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_Institution_Address"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_coordinates="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_coordinates"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Citation="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Citation"
      ]]'
    >

      <semantic-form-composite-input 
        for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier"
        new-subject-template=""
        fields='[[fieldDefinitions
          https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Value"  https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Type"
          https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Provider="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Provider"
        ]]'>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Value">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Type">
        </semantic-form-text-input>
        <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Identifier_Provider">
        </semantic-form-text-input> 
      </semantic-form-composite-input>
      
      <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Title">
        </semantic-form-text-input> 
      
      <semantic-form-text-input 
          for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Type">
        </semantic-form-text-input> 
      
      <semantic-form-composite-input 
				for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title"
				new-subject-template=""
				fields='[[fieldDefinitions
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Value"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Type"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Use_Period_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Use_Period_Earliest"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Use_Period_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Use_Period_Latest"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Used_By="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Used_By"
			]]'>
    		<semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Value">
     		</semantic-form-text-input>
     		<semantic-form-autocomplete-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Type">
     		</semantic-form-autocomplete-input>
     		<semantic-form-datetime-input 
        	for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Use_Period_Earliest">
     		</semantic-form-datetime-input>
     		<semantic-form-datetime-input 
        	for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Use_Period_Latest">
     		</semantic-form-datetime-input>
        <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Alternative_Title_Used_By">
     		</semantic-form-text-input>
    </semantic-form-composite-input>
      
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Style_-_Movement">
     		</semantic-form-text-input>
      
      <semantic-form-composite-input 
				for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description"
				new-subject-template=""
				fields='[[fieldDefinitions
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Value"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Type"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Author="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Author"
			]]'>
    		<semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Value"
          multiline='true'
          languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
     		</semantic-form-text-input>
     		<semantic-form-autocomplete-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Type">
     		</semantic-form-autocomplete-input>
        <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Description_Author">
     		</semantic-form-text-input>
    </semantic-form-composite-input>
      
      <semantic-form-composite-input 
				for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Parts"
				new-subject-template=""
				fields='[[fieldDefinitions
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Parts_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Parts_Value"
        https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Part_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Part_Type"
			]]'>
    		<semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Parts_Value">
     		</semantic-form-text-input>
        <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Part_Type">
     		</semantic-form-text-input>
    </semantic-form-composite-input>
      
      <semantic-form-composite-input 
				for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production"
				new-subject-template=""
				fields='[[fieldDefinitions
       https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Location="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Location"
       https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Date_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Date_Earliest"
       https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Date_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Date_Latest"
       https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Creator="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Creator"
       https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Creator_Role="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Creator_Role"
			]]'>
     		<semantic-form-autocomplete-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Location">
     		</semantic-form-autocomplete-input>
     		<semantic-form-datetime-input 
        	for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Date_Earliest">
     		</semantic-form-datetime-input>
     		<semantic-form-datetime-input 
        	for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Production_Date_Latest">
     		</semantic-form-datetime-input>
        <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Creator">
     		</semantic-form-text-input>
        <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Creator_Role">
     		</semantic-form-text-input>
    </semantic-form-composite-input>
      
    <semantic-form-composite-input 
				for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction"
				new-subject-template=""
				fields='[[fieldDefinitions
       https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Location="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Location"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Date_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Date_Earliest"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Date_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Date_Latest"
			]]'>
     		<semantic-form-autocomplete-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Location">
     		</semantic-form-autocomplete-input>
     		<semantic-form-datetime-input 
        	for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Date_Earliest">
     		</semantic-form-datetime-input>
     		<semantic-form-datetime-input 
        	for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Destruction_Date_Latest">
     		</semantic-form-datetime-input>
    </semantic-form-composite-input>
      
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Current_Owner">
     	</semantic-form-text-input>
      
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Current_Holder">
     	</semantic-form-text-input>
      
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Material">
     	</semantic-form-text-input>
      
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Technique">
     	</semantic-form-text-input>
      
      <semantic-form-composite-input 
				for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension"
				new-subject-template=""
				fields='[[fieldDefinitions
       https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Type"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Value"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Unit="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Unit"
			]]'>
     	<semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Type">
     	</semantic-form-text-input>
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Value">
     	</semantic-form-text-input>
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Dimension_Unit">
     	</semantic-form-text-input>
    </semantic-form-composite-input>
      
    <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Subject">
    </semantic-form-text-input>
    
    <semantic-form-composite-input 
				for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance"
				new-subject-template=""
				fields='[[fieldDefinitions https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Period_Statement_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Period_Statement_Latest"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Period_Statement_Owner="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Period_Statement_Owner"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Description="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Description"
			]]'>
     	<semantic-form-datetime-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Period_Statement_Latest">
     	</semantic-form-datetime-input>
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Period_Statement_Owner">
     	</semantic-form-text-input>
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Provenance_Past_Ownership_Description"
          multiline="true">
     	</semantic-form-text-input>
    </semantic-form-composite-input>
    
    <semantic-form-composite-input 
				for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation"
				new-subject-template=""
				fields='[[fieldDefinitions   https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Earliest"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Latest"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Type"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Technique="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Technique"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservator="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservator"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Description="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Description"
			]]'>
     	<semantic-form-datetime-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Earliest">
     	</semantic-form-datetime-input>
      <semantic-form-datetime-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Latest">
     	</semantic-form-datetime-input>
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Type">
     	</semantic-form-text-input>
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Technique">
     	</semantic-form-text-input>
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservator">
     	</semantic-form-text-input>
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Conservation_Event_Description"
          multiline="true">
     	</semantic-form-text-input>
    </semantic-form-composite-input>
     
      
    <semantic-form-composite-input 
				for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Location"
				new-subject-template=""
				fields='[[fieldDefinitions https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_Institution="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_Institution"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_Institution_Address="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_Institution_Address"
https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_coordinates="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_coordinates"
			]]'>
     	
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_Institution">
     	</semantic-form-text-input>
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_Institution_Address">
     	</semantic-form-text-input>
      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Present_Location_-_coordinates">
     	</semantic-form-text-input>
    </semantic-form-composite-input>

      <semantic-form-text-input 
					for="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Artwork_Citation">
     	</semantic-form-text-input>   
      
      <button name='submit' class='btn btn-default'>Save</button>
      <button name='reset' class='btn btn-default'>Reset</button>
   	</semantic-form> 
	[[/if]]
</div>
  </div>